/* цвет основного текста #212121 */

/* Вторичный цвет текста #757575 */

/* Основной цвет фона #FFFFFF */

/* Вторичный цвет фона #F5F4FA */

/* Третий цвет фона #2F303A */

/* Акцент #2196F3 */

:root {
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;
	--tertiary-background-color: #2f303a;
	--accent-color: #2196f3;
}

/* ------- GENERAL ------- */

body {
	color: var(--primary-text-color);
	background-color: var(--primary-background-color);
	font-family: Roboto, sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.features-title,
.team-title,
.portfolio-title {
	color: var(--secondary-text-color);
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* ------- HEADER ------- */

.page-header {
	border-bottom: 1px solid #eeeeee;
}

.header-flex {
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 25px;
}

.nav-header-flex {
	display: flex;
	align-items: center;
}

/* ------- LOGO ------- */

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
	text-decoration: none;
}

.logo-dark {
	color: #000000;
}

.logo-light {
	color: var(--primary-background-color);
}

.header-logo {
	margin-right: 93px;
}

/* ------- SITE NAV ------- */

.site-nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
	text-decoration: none;
	padding-top: 32px;
	padding-bottom: 32px;
}

.site-nav-link:hover,
.site-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus,
.address-nav-link:hover,
.address-nav-link:focus {
	color: var(--accent-color);
}

.current {
	color: var(--accent-color);
}

.site-nav,
.auth-nav,
.features-flex {
	display: flex;
}

.header-nav:not(:last-child) {
	margin-right: 50px;
}

/* ------- AUTH NAV ------- */

.auth-nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	text-decoration: none;
	padding-top: 32px;
	padding-bottom: 32px;
}

.auth-nav {
	margin-left: auto;
}

/* ------- HERO ------- */

.hero {
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: #c4c4c4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero/hero-background-img.jpg");
	text-align: center;
}

.hero-title {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	max-width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-background-color);
}

/* ------- FEATURES ------- */

.features-item::before {
	display: block;
	content: "";
	height: 120px;
	background-color: #f5f4fa;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 4px;
	margin-bottom: 30px;
}

.features-item:nth-child(1)::before {
	background-image: url(../images/features/svg/antenna.svg);
}

.features-item:nth-child(2)::before {
	background-image: url(../images/features/svg/clock.svg);
}

.features-item:nth-child(3)::before {
	background-image: url(../images/features/svg/diagram.svg);
}

.features-item:nth-child(4)::before {
	background-image: url(../images/features/svg/astronaut.svg);
}

.features-title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

.features-text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.features-item:not(:last-child) {
	margin-right: 30px;
}

/* ------- COMPETENCIES ------- */

.no-padding {
	padding-top: 0;
}

.competencies-flex {
	display: flex;
}

.competencies-item:not(:last-child) {
	margin-right: 30px;
}

/* ------- TEAM ------- */

.team-section {
	background-color: var(--secondary-background-color);
}

.team-list {
	display: flex;
}

.team-title {
	font-weight: 500;
	margin-bottom: 10px;
}

.team-card-item {
	background-color: var(--primary-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-card-item:not(:last-child) {
	margin-right: 30px;
}

.team-description {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-text,
.team-title {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

/* ------- PORTFOLIO ------- */

.portfolio-btn-position {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.portfolio-btn:not(:last-child) {
	margin-right: 8px;
}

.portfolio-card-position {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-card-description {
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	padding: 20px 24px;
}

.portfolio-card-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.portfolio-card-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.portfolio-title {
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}

/* ------- BUTTON ------- */

.button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	background-color: var(--secondary-background-color);
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	padding: 6px 22px;
}

.hero-button {
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--primary-background-color);
	background-color: var(--accent-color);
	padding: 10px 32px;
}

.button:hover,
.button:focus {
	color: var(--primary-background-color);
	background-color: var(--accent-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero-button:hover,
.hero-button:focus {
	background-color: #188ce8;
}

/* ------- FOOTER ------- */

.footer {
	background-color: var(--tertiary-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-footer {
	display: block;
	margin-bottom: 20px;
}

.address-item:not(:last-child) {
	margin-bottom: 9px;
}

.address-nav-link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.address-accent {
	color: var(--primary-background-color);
}
