.logo {
	font-family: $font-logo;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: $accent-color;
	text-decoration: none;
	&--dark {
		color: #000000;
	}
	&--light {
		color: $primary-background-color;
	}
}

.navigation__logo {
	margin-right: 93px;
}
