.logo {
	font-family: $font-logo;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: $accent-color;
	text-decoration: none;
	@include mq(desktop) {
		font-size: 26px;
		line-height: 1.19;
	}
}

.logo__dark {
	color: #000000;
}

.logo__light {
	color: $primary-background-color;
}
