$primary-text-color: #757575;
$secondary-text-color: #212121;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$tertiary-background-color: #2f303a;
$accent-color: #2196f3;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$font-main: Roboto, sans-serif;
$font-logo: Raleway;
