.clients {
	display: flex;
	flex-wrap: wrap;
	gap: $gap;
}

.clients__item {
	flex-basis: calc((100% - 1 * $gap) / 2);
	height: 92px;
	@include mq(tablet) {
		flex-basis: calc((100% - 2 * $gap) / 3);
	}
	@include mq(desktop) {
		flex-basis: calc((100% - 5 * $gap) / 6);
	}
}

.clients__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #afb1b8;
	border-width: 1px;
	border-style: solid;
	border-color: #afb1b8;
	border-radius: 4px;
	transition: border-color 250ms $cubic-bezier;
	&:hover,
	&:focus {
		border-width: 1px;
		border-style: solid;
		border-color: $accent-color;
		color: $accent-color;
	}
}

.clients__icon {
	fill: currentColor;
	transition: color 250ms $cubic-bezier;
	.clients__link:hover &,
	.clients__link:focus & {
		fill: currentColor;
	}
}
