.section--no-padding-top {
	padding-top: 0;
}

.section--secondary-info {
	display: none;
	@include mq(desktop) {
		display: block;
	}
}

.expertise {
	display: flex;
	gap: $gap;
}

.expertise__thumb {
	position: relative;
}

.expertise__overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(47, 48, 58, 0.8);
}

.expertise__overlay-title {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $primary-background-color;
}
