.features {
	padding-top: 94px;
	padding-bottom: 94px;
	&__title {
		@extend %section-title;
	}
	&__list {
		display: flex;
	}
	&__item:not(:last-child) {
		margin-right: 30px;
	}
	&__icon-bg {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 120px;
		background-color: #f5f4fa;
		margin-bottom: 30px;
		border-radius: 4px;
	}
	&__subtitle {
		@extend %section-subtitle;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		letter-spacing: 0.03em;
	}
	&__text {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
	}
}
