%title-strong {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $primary-background-color;
}

.footer {
	background-color: $tertiary-background-color;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__flex {
	display: flex;
	flex-direction: column;
	text-align: center;
	@include mq(tablet) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	@include mq(desktop) {
		align-items: baseline;
		text-align: start;
		justify-content: flex-start;
	}
}

.footer__navigation {
	margin-bottom: 60px;
	@include mq(desktop) {
		margin-bottom: 0;
		margin-right: 70px;
	}
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.footer__social {
	margin-bottom: 60px;
}

.footer__join {
	@extend %title-strong;
}

.address__item:not(:last-child) {
	margin-bottom: 8px;
	@include mq(desktop) {
		margin-bottom: 9px;
	}
}

.address__link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms $cubic-bezier;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.address__link--accent {
	color: $primary-background-color;
}

.social__link--dark {
	background-color: rgba(255, 255, 255, 0.1);
	color: $primary-background-color;
}

.mailing {
	@include mq(desktop) {
		width: 570px;
		margin-left: auto;
	}
}

.mailing__sign-up {
	@extend %title-strong;
}

.mailing__flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include mq(desktop) {
		flex-wrap: nowrap;
	}
}

.mailing__input {
	width: 100%;
	background-color: $tertiary-background-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	padding: 16px 15px;
	margin-bottom: 20px;
	color: $primary-background-color;
	&::placeholder {
		font-size: 16px;
		line-height: 1.25;
		align-items: center;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
	}
	@include mq(desktop) {
		margin-bottom: 0;
		margin-right: 12px;
	}
}
