.hero {
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 118px;
	padding-bottom: 118px;

	background-color: #c4c4c4;
	background-image: $linear-gradient, url("../images/hero/hero-bg-image-mob.jpg");
	@include mq(retina) {
		background-image: $linear-gradient, url("../images/hero/hero-bg-image-mob-2x.jpg");
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include mq(tablet) {
		background-image: $linear-gradient, url("../images/hero/hero-bg-image-tablet.jpg");
		@include mq(retina) {
			background-image: $linear-gradient, url("../images/hero/hero-bg-image-tablet-2x.jpg");
		}
	}
	@include mq(desktop) {
		padding-top: 200px;
		padding-bottom: 200px;
		background-image: $linear-gradient, url("../images/hero/hero-bg-image.jpg");
		@include mq(retina) {
			background-image: $linear-gradient, url("../images/hero/hero-bg-image-2x.jpg");
		}
	}
}

.hero__title {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	max-width: 360px;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $primary-background-color;
	@include mq(desktop) {
		max-width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
}
