// -------NAVIGATION

.navigation {
	display: flex;
	align-items: center;
}

.navigation__list {
	@include mq(mobile-only) {
		display: none;
	}
	@include mq(tablet) {
		display: flex;
	}
}

.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.navigation__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $secondary-text-color;
	transition: color 250ms $cubic-bezier;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.navigation__link--active {
	position: relative;
	color: $accent-color;
	&::after {
		position: absolute;
		bottom: -1px;
		display: block;
		content: "";
		width: 100%;
		height: 4px;
		border-radius: 2px;
		border: 2px solid $accent-color;
	}
}

.navigation__link--not-active {
	position: relative;
	&::after {
		position: absolute;
		bottom: -1px;
		display: block;
		content: "";
		width: 100%;
		height: 4px;
		border-radius: 2px;
		border-width: 2px;
		border-style: solid;
		border-color: #000000;
		transform: scaleX(0.4);
		opacity: 0;
		transition: transform 250ms $cubic-bezier, opacity 250ms $cubic-bezier, border-color 250ms $cubic-bezier;
	}
}

.navigation__link--not-active:hover.navigation__link--not-active::after,
.navigation__link--not-active:focus.navigation__link--not-active::after {
	transform: scale(1);
	opacity: 1;
	border-color: $accent-color;
}

// -------CONTACTS

.contacts {
	@include mq(mobile-only) {
		display: none;
	}
	@include mq(tablet) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-left: auto;
	}
	@include mq(desktop) {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.contacts__link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $primary-text-color;
	transition: color 250ms $cubic-bezier;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contacts__item {
	@include mq(tablet) {
		margin-right: auto;
	}
}

.contacts__item:not(:last-child) {
	@include mq(tablet) {
		margin-bottom: 12px;
	}
	@include mq(desktop) {
		margin-bottom: 0;
		margin-right: 50px;
	}
}

.contacts__icon {
	fill: currentColor;
	margin-right: 10px;
}
