.portfolio-filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 40px;
	@include mq(tablet) {
		margin-bottom: 30px;
		justify-content: center;
	}
	@include mq(desktop) {
		margin-bottom: 50px;
	}
}

.portfolio-filter__btn:not(:last-child) {
	margin-right: 8px;
}

.portfolio-filter__btn:first-child {
	@include mq(mobile-only) {
		margin-bottom: 15px;
	}
}

.portfolio {
	display: flex;
	flex-direction: column;
	gap: $gap;
	@include mq(tablet) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.portfolio__item {
	@include mq(tablet) {
		flex-basis: calc((100% - 1 * $gap) / 2);
	}
	@include mq(desktop) {
		flex-basis: calc((100% - 2 * $gap) / 3);
	}
}

.portfolio__link {
	display: block;
	text-decoration: none;
	color: inherit;
	transition: box-shadow 250ms $cubic-bezier;
	&:hover,
	&:focus {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.portfolio__thumb {
	position: relative;
	overflow: hidden;
}

.portfolio__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform: translateY(100%);
	transition: transform 250ms $cubic-bezier;

	background-color: rgba(33, 150, 243, 0.9);
	padding: 63px 24px;
	.portfolio__link:hover &,
	.portfolio__link:focus & {
		transform: translateY(0);
	}
	&-text {
		color: $primary-background-color;
		font-size: 18px;
		line-height: 1.56;
		letter-spacing: 0.03em;
	}
}

.portfolio__card-description {
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	padding: 20px 24px;
}

.portfolio__project-name {
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: $secondary-text-color;
}

.portfolio__project-type {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}
